<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>draggable-example</title>

    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <style type="text/css">
        /*app*/
        #app {
          font-family: 'Avenir', Helvetica, Arial, sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          color: #2c3e50;
          margin-top: 60px;
        }

        #app .logo{
          text-align: center;
        }

        /*hello*/
        .flip-list-move {
          transition: transform 0.5s;
        }

        .no-move {
          transition: transform 0s;
        }

        .ghost {
          opacity: .5;
          background: #C8EBFB;
        }

        .list-group {
          min-height: 40px;
        }

        .list-group-item {
          cursor: move;
        }

        .list-group-item i{
          cursor: pointer;
        }
    </style>
  </head>

  <body>
    <div id="app">
       <!--  <div class="jumbotron logo">
            <img src="./assets/logo.png">
        </div> -->

        <!-- hello -->
      <div class="fluid container">
        <div class="form-group form-group-lg panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Sortbale control</h3>
          </div>
          <div class="panel-body">
            <div class = "checkbox">
              <label><input type = "checkbox" v-model="editable">Enable drag and drop</label>      
            </div>
            <button type="button" class="btn btn-default" @click="orderList">Sort by original order</button>
          </div>
        </div>

        <div  class="col-md-3">
            <draggable v-model="list" :options="dragOptions" :move="onMove" @start="isDragging=true" @end="isDragging=false"> 
              <transition-group :name="'flip-list'" class="list-group" tag="ul" >
                <li class="list-group-item" v-for="element in list" :key="element.order"> 
                  <i :class="element.fixed? 'fa fa-anchor' : 'glyphicon glyphicon-pushpin'" @click=" element.fixed=! element.fixed" aria-hidden="true"></i>
                  {{element.name}}
                  <span class="badge">{{element.order}}</span>
                </li> 
              </transition-group>
          </draggable>
        </div>

         <div  class="col-md-3">
          <draggable v-model="list2" :options="dragOptions" :move="onMove" @start="isDragging=true" @end="isDragging=false"> 
              <transition-group :name="'flip-list'" class="list-group" tag="ul" >
                <li class="list-group-item" v-for="element in list2" :key="element.order"> 
                  <i :class="element.fixed? 'fa fa-anchor' : 'glyphicon glyphicon-pushpin'" @click=" element.fixed=! element.fixed" aria-hidden="true"></i>
                  {{element.name}}
                  <span class="badge">{{element.order}}</span>
                </li> 
              </transition-group>
          </draggable>
        </div>


        <div  class="list-group col-md-3">
          <pre>{{listString}}</pre>
        </div>
         <div  class="list-group col-md-3">
          <pre>{{list2String}}</pre>
        </div>
      </div>
    </div>

    <script src="./vendor/vuejs/vue.js"></script>
    <script src="./vendor/jquery/jquery.min.js"></script>
    <script src="./vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="Sortable.js"></script>
    <script src="vuedraggable.js"></script>

    <script type="text/javascript">
        const message = [ 'vue.draggable', 'draggable', 'component', 'for', 'vue.js 2.0', 'based' , 'on', 'Sortablejs' ]

        new Vue({
          el: '#app',
          data () {
            return {
              list: message.map( (name,index) => {return {name, order: index+1, fixed: false}; }),
              list2:[],
              editable:true,
              isDragging: false,
              delayedDragging:false
            }
          },
          methods:{
            orderList () {
              this.list = this.list.sort((one,two) =>{return one.order-two.order; })
            },
            onMove ({relatedContext, draggedContext}) {
              console.log('onMove');
              const relatedElement = relatedContext.element;
              const draggedElement = draggedContext.element;
              return (!relatedElement || !relatedElement.fixed) && !draggedElement.fixed
            }
          },
          computed: {
            dragOptions () {
              return  {
                animation: 0,
                group: 'description',
                disabled: !this.editable,
                ghostClass: 'ghost'
              };
            },
            listString(){
              return JSON.stringify(this.list, null, 2);  
            },
            list2String(){
              return JSON.stringify(this.list2, null, 2);  
            }
          },
          watch: {
            isDragging (newValue) {
              if (newValue){
                this.delayedDragging= true
                return
              }
              this.$nextTick( () =>{
                   this.delayedDragging =false
              })
            }
          }
        })

        // vuedraggable
        // import draggable from 'vuedraggable'
        

        // export default {
        //   name: 'hello',
        //   components: {
        //     draggable,
        //   },
        //   data () {
        //     return {
        //       list: message.map( (name,index) => {return {name, order: index+1, fixed: false}; }),
        //       list2:[],
        //       editable:true,
        //       isDragging: false,
        //       delayedDragging:false
        //     }
        //   },
        //   methods:{
        //     orderList () {
        //       this.list = this.list.sort((one,two) =>{return one.order-two.order; })
        //     },
        //     onMove ({relatedContext, draggedContext}) {
        //       const relatedElement = relatedContext.element;
        //       const draggedElement = draggedContext.element;
        //       return (!relatedElement || !relatedElement.fixed) && !draggedElement.fixed
        //     }
        //   },
        //   computed: {
        //     dragOptions () {
        //       return  {
        //         animation: 0,
        //         group: 'description',
        //         disabled: !this.editable,
        //         ghostClass: 'ghost'
        //       };
        //     },
        //     listString(){
        //       return JSON.stringify(this.list, null, 2);  
        //     },
        //     list2String(){
        //       return JSON.stringify(this.list2, null, 2);  
        //     }
        //   },
        //   watch: {
        //     isDragging (newValue) {
        //       if (newValue){
        //         this.delayedDragging= true
        //         return
        //       }
        //       this.$nextTick( () =>{
        //            this.delayedDragging =false
        //       })
        //     }
        //   }
        // }
    </script>
  </body>
</html>
